<div class="toast-container position-fixed bottom-0 end-0 p-3">
  @for(toast of toasts(); track toast.id){
    <div  
      class="toast show align-items-center text-white bg-{{ toast.type }} border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">
          {{ toast.body }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="removeToast(toast)"></button>
      </div>
    </div>
  }
</div>