@if(book$ | async; as book) {

    <h2>{{book.title}} by {{book.author}}</h2>
    @if(userRole() === 'Librarian') {
        <a [routerLink]="['/book/edit', book.id]">Edit</a><br/>
    }
    <img [src]="book.coverImg" alt="{{book.title}} cover" style="max-width: 200px; max-height: 300px;"/><br/>
    <p>{{book.description}}</p>
    <!-- <p>Published on: {{book.publishedDate | date}}</p> -->
    <p>ISBN: {{book.isbn}}</p>
    <!-- <p>Pages: {{book.pages}}</p> -->
    <p>Publisher: {{book.publisher}}</p>
    <button class="btn btn-primary" (click)="addToCart(book)">Add to Cart</button>
    <p><a [routerLink]="['/books']">Back to all books</a></p>
}