<div class="my-4 p-3 shadow-sm d-flex justify-content-between border border-dark">
    <div class="d-flex justify-content-start">
        <div class="first-col">
            <a [routerLink]="['/book', book().id]">
                <img [src]="book().coverImg" alt="{{book().title}} cover" style="max-width: 100px; max-height: 150px;"/><br/>
            </a>
            <h3>
                {{book().title}}<br/>
            </h3>
            <small>
                by {{book().author}}
            </small>
        </div>
        <div class="px-4">
            {{book().description}}<br/>
        </div>
    </div>
    <div>
        <div class="my-2 d-flex align-items-center">
            @if(userRole() === 'Customer') {
                @if(book().available > 0) {
                    <button class="btn btn-primary" (click)="addToRentalCart(book())">Add&nbsp;to&nbsp;Cart</button>
                } @else {
                    <p class="text-danger">Not&nbsp;Available</p>
                }
            }
        </div>
        <a [routerLink]="['/book', book().id]">View&nbsp;Details</a>
    </div>
</div>