<div class="my-4 p-3 shadow-sm d-flex ">
    <div>
        <img [src]="book().coverImg" alt="{{book().title}} cover" style="max-width: 100px; max-height: 150px;"/><br/>
        <h3>
            {{book().title}}<br/>
        </h3>
        <small>
            by {{book().author}}
        </small>
    </div>
    <div>
        {{book().description}}<br/>
    </div>
    <div>
        @if(book().available > 0) {
            <button class="btn btn-primary" (click)="addToRentalCart(book())">Add to Cart</button>
        } @else {
            <p class="text-danger">Not Available</p>
        }
        <a [routerLink]="['/book', book().id]">View Book</a><br/>
    </div>
</div>